

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @bartenders.each do |bartender| %>
        <h3><%= bartender.title %></h3>
        <h5><%= bartender.name %></h5>

        <p>
          <% bartender.rating.times do %>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>


