/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Timmana" rel="stylesheet");
$base-font: "Titillium Web", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #F8362C; // this is the red from the cape in the logo.
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #013D26; // picked some sobre dark green.


// facebook login
$facebook-blue: #3B5998;

// color scheme
$dark-grey: #5c5555;
$grey: #272424;
$brown: #282424;
$brown-lighter: #544C4C;
$brown-lightest: #756A6A;
$black: #1B1B1B;
$white: #ECECEC;
$gold: #A99267;
$gold-lighter: #BAA171;
$light-grey: #E1E1E1;
$grey-btn-hover: #171717;
$very-light-grey: #EBEBEB;
$lightest-grey: #F5F5F5;
$grey-btn-hover: #171717;
$dropdown-grey:  #999999;
