.wrapper-prebook{

  .about-you{
    padding-bottom: 30px;

    .about-you-block{
      height: 50px;
      display: block;
      width: 100%;
      background-color: white;
      border-radius: 6px;
    }
  }

  .about-your-party{
    .about-your-party-block{
      height: 50px;
      display: block;
      width: 100%;
      background-color: white;
      color: #5c5555;

      border-radius: 6px;
      margin: 10px 0px;

    }
    .wrapper-date-time{
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    .about-your-party-time{
      height: 50px;
      background-color: white;
      color: #5c5555;
      border-radius: 6px;
      width: 100px;
    }

    #party_date {
      position: absolute;
      bottom: 0;
      left: -410px;
      margin: 0;
      width: 410px;
    }

  }
  .booking-summary {
    width: 379.98px;
    border: 4px solid $gold;
    padding: 20px 20px;
    padding-bottom: 0px;
    h4{
      padding: 10px 10px;
    }
    ul{
      padding: 5px 10px;
    }
    .bartender-name{
      font-size:16px;
      padding: 10px 0 10px 0;
    }
     .bartender-title{
      font-size: 24px;
      line-height: 30px
    }
     .bartender-location{
      font-size: 24px;
      line-height: 30px
    }
    .bartender-rating{
      padding: 0 px 10px;
      font-size: 12px;
      line-height: 30px
    }
    .bartender-date{
      padding: 0 px 10px;
      font-size: 24px;
      line-height: 30px
    }
    .booking-billing{
      padding: 10px 0px;
      border-top: none;
      font-size: 16px;
      padding-bottom: 0px;
    }
    .table {
    max-width: 100%;
    border-collapse: collapse;
    }
    .tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    }
    .th {
    text-align: left;
    }
    .td {
      display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    }
    .details{
        font-size:14px;
    }
    .price-item{
      color: $gold;
      font-weight: bold;
    }
    .moreinfo{
      padding:10px 0px;
      color: $gold;
      font-weight: bold;
    }

    .cocktails {
      .content {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-around;
        .specialities-item{
          text-align: center;
          margin: 0 5px;
          width: 20%;
        }
      }
    }
  }
  .booking-line{
    border: 1px solid $gold;
    margin: 10px 0 10px 0;
  }
  .bartender-message{
    .bartender-message-block{
    height: 50px;
    display: block;
    width: 100%;
    background-color: white;
    color: #5c5555;
    border-radius: 6px;
    margin: 10px 0px;

    }

    .btn-booking-confirm{
    border: none;
    background-color: $pink;
    color: $white;
    width: 62%;
    border-radius: 6px;
    margin: 10px 50px;
    font-size: 15px;
    height: 50px;
      &:hover{
        opacity: 0.8;
        transition: opacity .3s ease;
      }

    }

  }
}

.summary-wrapper.affix{
  top: 18px;
  width: 379.98px;
  position: fixed;
}

.summary-wrapper.affix-bottom{
  bottom: auto;
  width: 379.98px;
  position: fixed;
}

#party-new-header{
      h1{
      margin: 0px 0px 10vh 0px;
      color: white;
      padding-bottom: 10px;
      padding-top: 5px;
      text-align: center;
      margin-top: 0px;
      font-size: 27px;
      width: 100%;
    box-shadow: 0px 0.7px 0px #8a6d3b;

    }
    background-color: $pink;
    width: 100%;
}

.title-new{
  color: $gold;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}
