.wrapper-invite{
  margin-top: 50px;

  .confirmation-invitation{
  //  border-top: 2px solid $gold;
  // border-bottom: 2px solid $gold;


  }
  h2{
  padding-top: 15px;
  padding-left: 10px;
  }
  h3{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
    span {
     background-color: rgba(255, 255, 255, 0.7);
     border-radius: 6px;
     color: $gold;
     padding: 5px;
    }
  }
  h4{
    padding: 15px 10px;
  }
  p{
    padding-top: 2px;
    padding-bottom: 8px;
    padding-left: 10px;
  }
}
.banner-book{
  background-size: cover;
  background-position: center center;
  color: $white;
  text-align: center;
  padding: 25px 0 60px;
  border-radius: 6px;
}

