#bt-party-show {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 25px;
}

.summary-show{
  padding-top: 20px;
}

.background-div{
  // opacity: 0.5;
  background-color: $gold;
  width: 420px;
  height: 400px;
  margin: auto;
  border-radius: 15px;
  color: $white;
}


.party-show-title {
  width: 80%;
  margin: auto;
}

.summary-show {
  width: 80%;
  margin:auto;
}

.add-friends-button{
  border-radius: 5px;
  margin:auto;
  width: 30%;
  background-color: $facebook-blue;
  color: $white;
  margin-top: 25px;
  h5{
    padding: 10px;
  }
}

.pending-approval {
  border: solid 4px $gold;
}

.wrapper-status-bar {
  padding-bottom: 10px;
  margin: 0 auto;
  .status-bar {
    margin: auto;
    display: flex;
    align-items: flex-start;
  }
  .status-bar-item {
    opacity: 0.7;
    font-size: 30px;
    background-color: lighten($brown-lightest, 20);
    color: $brown;
    width: 300px;
    margin-left: 10px;
    padding: 23px 0;
    //border-right: 1px solid $gold;
    box-shadow: 1px 5px 10px $dropdown-grey;
  }
  .status-bar-item-active {
    opacity: 1;
    background-color: $gold;
    color: $brown;
    width: 310px;
    padding: 30px 0;
  }
  p{
    font-size: 15px;
    margin-top: 5px;
  }
}

#bartender-logo-large{
  position: absolute;
  top: 450px;
  right: 160px;
  height: 332px;
  @media only screen and (max-width: 1500px) {
    right: 30px;
  }
}

.pending-container{



  .pending-card {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    width: 950px;
    height: 450px;
    background: white;
    padding: 20px;
    font-weight: 300;
    box-shadow: 2px 2px 2px rgba(1,1,1,0.5);
    &:hover {
      box-shadow: 2px 2px 2px rgba(169, 146, 103, 0.5);
    }
  }

  h2{
    padding: 10px 0px 12px 0px;
    margin: 7px 0px 5px 0px;

  }

  h4{
    padding: 10px 0px 0px 0px;
    margin: 25px 0px 10px 0px;

  }

  .banner-pending{
  background-size: cover;
  background-position-y: -116px;
  height: 290px;
  color: $white;
  text-align: center;
  padding: 25px 0 60px;
  border-radius: 2px;
  }
}

.pending-footer{

  h2{
    font-family: $pending-footer-font;
    text-align: center;
    color: $gold;
    margin-top: 36px
  }
}

.confirm-container{



  .confirm-card {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    width: 950px;
    height: 450px;
    background: white;
    padding: 20px;
    font-weight: 300;
    box-shadow: 2px 2px 2px rgba(1,1,1,0.5);
    &:hover {
      box-shadow: 2px 2px 2px rgba(169, 146, 103, 0.5);
    }
  }

  h2{
    padding: 10px 0px 7px 0px;
    margin: 7px 0px 5px 0px;

  }

  h4{
    padding: 10px 0px 0px 0px;
    margin: 13px 0px 10px 0px;

  }

  .banner-book{
  background-size: cover;
  background-position-y: -85px;
  height: 290px;
  color: $white;
  text-align: center;
  padding: 25px 0 60px;
  border-radius: 2px;
  width: 910px;
  margin-left: 15px;
  }
}

.confirm-footer{

  h2{
    font-family: $pending-footer-font;
    text-align: center;
    color: $gold;
    margin-top: 36px
  }
}
