.wrapper-show {
margin-top: 45px;
}

.specialities {
  border-top: 1px solid $gold;
  padding-top: 25px;
  margin-top: 25px;
  .content {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    .specialities-item{
      text-align: center;
      margin: 0 5px;
      width: 20%;
      .avatar-cocktail {
        margin-bottom: 10px;
      }
    }
  }
}

.profile-details{
  display:inline-block;
  h1{
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.profile-block{
  display: flex;
  border-bottom: 1px solid $gold;
  padding-bottom: 25px;
  margin-bottom: 25px;
  .header{
    min-width:200px;

    text-align: left;
    h2{
      font-size: 25px;
    }
  }
  .content {
    flex-grow: 1;
  }

}

#cropped_avatar {
 object-fit: cover;
}

.booking-basics{
  padding: 30px;
  border: 1px solid $gold;

  h2 {
    margin-top: 0;
  }


  #location-show{
    height: 50px;
    display: block;
    width: 200px;
    background-color: $brown;
    color: $white;
    border:none;
    border-radius: 6px;
  }

  .date-show{
    height: 50px;
    display: block;
    width: 200px;
    background-color: $brown;
    color: $white;
    border:none;
    border-radius: 6px;
    padding-left: 10px;
  }
  .btn-search{
    background-color: $brown;
    color: white;
    width: 200px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    height: 50px;
  }
    .btn-search:hover{
    color: $gold;
  }
}

.specialities{
  h1 {
  text-decoration: underline;
  padding-bottom: 5px;
  text-align: left;
  font-size: 20px;
  }
}

.reviews{
  padding-top: 10px;

  #review_content{
    height: 80px;
    width: 100%;
    background-color: $brown;
    color: $white;
    border:none;
    border-radius: 6px;
  }

  #review_rating{
    height: 50px;
    width: 100px;
    background-color: $brown;
    color: $white;
    border:none;
    border-radius: 6px;
  }
  .button-add-review{
    background-color: $brown;
    color: white;
    width: 62%;
    border-radius: 6px;
    border: none;
    margin: 10px;
    font-size: 15px;
    height: 50px;
  }
  .button-add-review:hover{
    color: $gold;
  }
}
