
<%= simple_form_for [@bartender, @party], method: :get, url: new_bartender_party_path(bartender_id: @bartender.id), html: { id: 'home-form-show' } do |f| %>
  <%= f.input :address, label: false, placeholder: 'Location', wrapper_html: { class: '' }, input_html: { class: "input form-input-index", id: "location-show" } %>

  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>

  <div class="">
    <%= button_tag type: :submit, class: "btn-search" do %>
      Book
    <% end %>
  </div>


<% end %>

<script type="text/javascript">

  function initialize() {
    var input = document.getElementById('party_address');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

</script>
