<% unless review.created_at.nil?  %>
  <div class="reviews-item">

    <%= image_tag review.user.facebook_picture_url, class: 'avatar-large' %>
    <div class="review-item-body">
      <div> <%= review.created_at.strftime('%D') %> </div>

      <% unless review.rating.nil? %>
        <ul class="list-inline no-bullets">
          <% review.rating.times do %>
            <li> <i class="fa fa-glass golder" aria-hidden=true> </i></li>
          <% end %>

          <% (5 - review.rating).times do %>
            <li> <i class="fa fa-glass blacker" aria-hidden=true> </i></li>
          <% end %>
        </ul>
      <% end %>
      <div> <%= review.content %> </div>
    </div>
  </div>
<% end %>
