

<form action="<%= bartenders_path %>" class= "home-form">
  <select name="type-of-party" id="type-of-party">
    <option value="" disabled selected>Type of event</option>
    <option value="1">Party</option>
    <option value="2">Birthday</option>
    <option value="3">Hen/Stag do</option>
    <option value="4">Leaving do</option>
    <option value="5">House Warming</option>
    <option value="6">Wedding</option>
  </select>
  <br>

  <select name="number-of-guests" id="number-of-guests" placeholder="Number of guests">
    <option value="" disabled selected>Number of guests</option>
    <option value="1">5-20</option>
    <option value="2">21-40</option>
    <option value="3">41-60</option>
    <option value="4">61-80</option>
    <option value="5">81-100</option>
  </select>
  <br><br>
  <input type="submit" value="Get your party started" class="button-home">
</form>


