<div class="container">
  <div class="row">
    <form action="<%= bartenders_path %>">
      <select name="type-of-party" id="type-of-party">
        <option value="1">Party</option>
        <option value="2">Birthday</option>
        <option value="3">Hen/Stag do</option>
        <option value="4">Leaving do</option>
        <option value="5">House Warming</option>
        <option value="6">Wedding</option>
      </select>
      </div>
      <div class="row">
      <select name="number-of-guests" id="number-of-guests">
        <option value="1">5-29</option>
        <option value="2">30-59</option>
        <option value="3">60-90</option>
      </select>
      </div>
      <input type="submit" value="Search">
    </form>
  </div>
</div>
