<div class="container">
  <div class="row">
    <div class= "col-xs-12 col-sm-8">
        <iframe width="560" height="349" src="https://youtu.be/pxbAAnWlDhc">
        <html lang="en" dir="ltr">
       </iframe>
      </div>
    </div>
    <div class= "col-xs-12 col-sm-4">
      <h3>"enjoy having a good time at your party or your events for only"</h3>
      <h1 class= "text-left">50eur</h1>

      <%= render 'form' %>
    </div>
  </div>
</div>




