<br><br><br><br><br><br>

<div class="wrapper-login-redirect">
  <div>
    <%= link_to 'Log in as Bartender', new_bartender_session_path, class: 'btn-std' %>
  </div>

  <div>
    <%= link_to 'Log in as User', new_user_session_path, class: 'btn-std' %>
  </div>
</div>
