.footer-basic-centered{
  background-color: $brown;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 15px sans-serif;
  padding-top: 20px;
  margin-top: 150px;
}

.logo-footer {
  max-height: 50px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-company-name{
  display: inline-block;
  font-size: 1.25vw;
  line-height: 2.08333vw;
  width: 80%;
  margin: 0;
  float: left;
  text-align: left;
  box-sizing: border-box;
  padding-left: 4.16667vw;
  letter-spacing: .22917vw;
  color: $gold;
}

.footer-payment {
  text-align: right;
  font-size: 14px;
  margin: 0;
}


.footer-basic-centered .footer-links{
  list-style: none;
  color:  $white;
  padding: 14px 0 23px;
  margin: 0;
  width: 69vw;
  margin: 0 auto;
  letter-spacing: .27778vw;
  line-height: 1.66667vw;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 10px;
}

.footer-links a:hover{
  color: $gold;
  transition: color .3s ease-out;
}

.payment-options{
  display: inline-block;
  width: 30%;
}

.footer-payment{
  width: 40px;
}

.copyright-notice-text {
    display: inline-block;
    float: left;
    font-size: 1vw;
    line-height: 2.08333vw;
    width: 70%;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    letter-spacing: .22917vw;
    padding-left: 2vw;
    color: $gold;
}

.contact {
  color: $white;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

.contact-links{
      margin: 0vw 0 2.5vw;
}

.contact:hover{
  color: $gold;
  transition: color .3s ease-out;
}
.copyright-notice {
  background-color: #1B1B1B;
  padding: 1.31944vw 0 .90278vw;
}




footer {
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}// Your footer style
