a{
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  color: #616668;
  &:hover{
    text-decoration:none;
    color: #A99267;
  }
}

body{
  font-family: 'Titillium Web', sans-serif;
}
