a{
  text-decoration: none !important;
  font-family: $base-font;
  &:hover{
    text-decoration:none;
    color: $gold;
  }
  &:visited{
    color:$white;
    text-decoration: none;
  }
}

body{
  font-family: $base-font;
}

ul {
  list-style-type: none;
}

// This removes the default outline around buttons after clicking.
button:focus {
  outline: none;
}
