
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 wrapper-login">

      <%= render 'login_social_media' %>

      <%= render 'login_form' %>

      <hr>

      <div class="new-account">
        <h5>New Account?</h5>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Register", new_registration_path(resource_name), class: 'btn-register text-center' %>
        <% end -%>
      </div>

    </div>
  </div>
</div>
