.wrapper-btn-large
.btn-large {
  height: 90px;
  background-color: $lightest-grey;
  width: 300px;
  -webkit-transition: 0.4s ease;
  transition: 0.3s ease;
  margin: auto;
  border-radius: 5px;
  line-height: 100px;
  opacity: 0.6;
  font-size: 25px;
  color: black;
  border-color: #EAEAEA;
  border: 3px;
  padding: 0px 10px;
}

.btn-large:hover{
  opacity:0.8;
}
