.btn-large {
  height: 90px;
  background-color: $lightest-grey;
  width: 300px;
  -webkit-transition: 0.4s ease;
  transition: 0.3s ease;
  margin: auto;
  border-radius: 5px;
  line-height: 100px;
  opacity: 0.6;
  font-size: 25px;
  color: black;
  border-color: #EAEAEA;
  border: 3px;
  padding: 0px 10px;
}

.btn-large:hover{
  opacity:0.8;
}

.form-control.btn-search {
  min-width: 0;
  background-color: #272424;
  padding: 10px 10px;
  color: white;
  vertical-align: center;
}


$btn-height: 50px;
$btn-vertical-padding: 10px;

.btn-std {
  background-color: $brown;
  height: $btn-height;
  padding: $btn-vertical-padding 10px;
  line-height: calc(#{$btn-height} - #{$btn-vertical-padding * 2});
  color: $gold !important;
  border: none;
  display: block;
  width: 10vw;
  border-radius: 5px;
  text-align: center;
}

.btn-facebook {
  background-color: $facebook-blue;
  height: $btn-height;
  padding: $btn-vertical-padding 10px;
  line-height: calc(#{$btn-height} - #{$btn-vertical-padding * 2});
  color: white;
  display: block;
  width: 100%;
  border-radius: 5px;
  i {
    padding: 0 60px 0 20px;
  }
}

.btn-login {
  background-color: black;
  height: $btn-height;
  padding: $btn-vertical-padding 10px;
  line-height: calc(#{$btn-height} - #{$btn-vertical-padding * 2});
  color: white;
  border: none;
  display: block;
  width: 100%;
  border-radius: 5px;
}

.btn-register {
  background-color: white;
  height: $btn-height;
  padding: $btn-vertical-padding 10px;
  line-height: calc(#{$btn-height} - #{$btn-vertical-padding * 2});
  color: grey;
  display: block;
  width: 30%;
  border-radius: 5px;
  border: 2px solid grey;
  font-weight: bold;
  &:hover {
    color: black !important;
    border: 2px solid black;
  }
}
