// .card-container {
//   background-color: white;
//   width: 340px;
//   height: 398px;
//   box-shadow: 2px 2px 2px rgba(1,1,1,0.5);
//   padding-bottom: -1px;
// }

// .card-body {

//   background-size: cover !important;
//   color: white;
//   position: relative;
//   margin: 20px 36px;
//   height: 250px;
//   width: 250px;
//   padding: 40px;
// }
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }

// .card-footer{
//   display: flex;
//   justify-content: space-between;
//   padding: 20px;

//   .card-category {
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     font-size: 16px;
//     height: 100%;
//   }
//   .card-description {
//     position: absolute;
//     bottom: 10px;
//     left: 10px;
//     width: 95%;
//   }
//   .card-description h2 {
//     font-size: 24px;
//   }
//   .card-description p {
//     font-size: 13px;
//     text-align: justify;
//   }
// }
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index:2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover{
//   opacity: 0.1;
// }



.card-container {
  width: 340px;
}



.card-container:hover  {
  opacity: 1;

}


.card {
  display: block;
  margin:20px;
  width: 300px;
  background: white;
  padding: 20px;
  font-weight: 300;
  box-shadow: 2px 2px 2px rgba(1,1,1,0.5);
  height: 425px;

  &:hover {
    box-shadow: 2px 2px 2px rgba(169, 146, 103, 0.5);
    .card-body,
    .card-footer {
      color: $gold;

    }
  }
}

.card-back {
  padding: 10px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255,255,255,0.9);
  transition: all 200ms ease;
  text-align: center;
  line-height: 2;
  display: block;
  overflow: hidden;
}

.card-back a {
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  color: #333333;
  opacity: 0.8;
  transition: opacity 200ms ease;

  &:hover {
    opacity: 1;
  }

}

.card-back-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .smaller-avatar-cocktail{
    margin-right: 10px;
  }
}

.card-image {
  background-size: cover;
  height: 100%;
  background-position: center center;
}

.card-body {
  height: 300px;
  position: relative;

}

.card-container:hover .card-back {
  opacity: 1;

}

.card-footer {
  padding-top: 20px;
  color: $brown;
   &:visited{
    color: $brown;
   }
}

.card-footer-reviews{
  white-space: nowrap;
   .fa-comment{
    padding: 2px;
   }
}

.card-footer-rating{
  padding-top: 5px;
}

.card-footer-flex {
  display: flex;
  justify-content: space-between;
}

.card .social a {
  text-decoration: none;
  color: #333333;
}

.card .social {
  flex: 0 0 70%;
  display: flex;
  justify-content: space-between;
}
