.datepicker-orient-top{
  background-color: $brown;
  color: $white;
}

.datepicker-orient-bottom{
  background-color: $brown;
  color: $white;
}
.datepicker table th.prev:hover,
.datepicker table th.next:hover,
.datepicker table th.dow:hover,
.datepicker table tr td.day:hover,
.datepicker table td.old.day:hover,
.datepicker table th.datepicker-switch:hover, {
  background-color: $gold;
}
.datepicker table tr td span:hover, .datepicker table tr td span.focused  {
  background-color: $gold;
  &:focused {
  background-color: $gold;
  }
}

