.ui-datepicker{
  width: 216px;
  height: auto;
  margin: 5px auto;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  background-color: $white;

}

.ui-datepicker-header{
  margin: 10px 0 10px 10px;
  position: relative;
}

.ui-datepicker-next{
  position: absolute;
  margin-left: 10px;
}

.ui-datepicker-title{
  position: absolute;
  right: 5px;
  top: 3px;
}

.ui-datepicker a {
  text-decoration: none;
  color: $grey;
  &:hover{
  color: $gold;
  }
}
.ui-datepicker table {
  width: 100%;
  margin-left: 10px;
}
