.home-form {
  background-color:rgba(255,255,255,.8);
  padding-top: 15%;
  padding-bottom: 15%;
  // padding-right: 2%;
  // padding-left: 2%;
  border-radius: 10px;

  select {
    margin-top: 20px;
    width: 200px;
    color: black;
  }
  input {
    // margin-top: 20px;
    width: 200px;
    padding: 15px;
  }
}

.button-home {
  background-color: black;
  // height: $btn-height;
  // padding: $btn-vertical-padding 10px;
  // line-height: calc(#{$btn-height} - #{$btn-vertical-padding * 2});
  color: white;
  width: 100%;
  border-radius: 10px;
  border: none;
}
