#new_party {
  display: flex;
  justify-content: center;
  width: 86%;
  padding: 0 15px;
  margin: 45px 0 20px 60px;
  color: $white;
  .form-group, .btn-search {
    margin: 0 5px 15px;
  }

  #btn-search-index{
    background-color: $brown;
  }

  #btn-search-index:hover{
    color: $gold;
  }

  #party_size {
    height: 50px;
    width: 150px;
    background-color: $brown;
    color: $white;
    border:none;
    border-radius: 6px
  }
  #party_theme {
    height: 50px;
    width: 150px;
    background-color: $brown;
    color: $white;
    border:none;
    border-radius: 6px

  }

  #btn-search-index {
    height: 50px ;
    width: 120px;
    background-color: $gold;
    border:none;
    border-radius: 6px
  }

  #party_date {
    height: 50px;
    display: block;
    width: 150px;
    background-color: $white;
    color: $brown;
    border:none;
    border-radius: 6px;
    padding-left: 10px;
  }
  #party_address{
    height: 50px;
    display: block;
    width: 200px;
    background-color: $white;
    color: $brown;
    border:none;
    border-radius: 6px;

  }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 8px;
    color: $white !important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: $white !important;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: $white !important;
    }
    :-moz-placeholder { /* Firefox 18- */
    color: $white !important;
  }
}

  .bartender_review {
    height: 50px;
    width: 150px;
    background-color: $brown;
    color: $white;
    border:none;
    border-radius: 6px

  }






